@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в приложение заявок.</h1>
    <p>Выберите нужный вам раздел чтобы начать работу.</p>
</div>
