@{
    ViewData["Title"] = "Приложения";
}

<div class="text-center">
    <h1 class="display-4">Приложения</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var app in ViewBag.Applications)
        {
            <tr>
                <td>@app.Name</td>
                <td>@app.Description</td>
            </tr>
        }
    </tbody>
</table>